.taskListBoard__emptyStateCard {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: none;
  background-color: #eaf8fd75;
  border: 1px solid #fff;
}

.taskListBoard__lists {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

@media (max-width: 1024px) {
  .taskListBoard__lists {
    flex-direction: column;
  }
}
